<div class="w-full">
    <article class="max-w-4xl prose sm:prose-sm lg:prose-lg xl:prose-xl mx-auto pt-16">
        <h1>{{pageAnalysis.titulo}}</h1>

        <section>
            <h2>Introdução</h2>
            <p>{{pageAnalysis.introducao}}</p>
        </section>

        <section>
            <h2>Avaliação das Categorias</h2>
            <p>{{pageAnalysis.avaliacaoCategorias.textoInicial}}</p>
            <table>
                <tr>
                    <th>Categoria</th>
                    <th>Avaliação</th>
                </tr>
                    {{#each pageAnalysis.avaliacaoCategorias.categorias}}
                        <tr>
                            <td><strong>{{this.nome}}</strong></td>
                            <td>{{this.avaliacao}}</td>
                        </tr>
                    {{/each}}
            </table>
        </section>


        <section>
            <h2>Avaliação dos Produtos</h2>
            <p>{{pageAnalysis.avaliacaoProdutos.textoInicial}}</p>
            <table>
                <tr>
                    <th>Produto</th>
                    <th>Avaliação</th>
                </tr>
                    {{#each pageAnalysis.avaliacaoProdutos.produtos}}
                        <tr>
                            <td><strong>{{this.nome}}</strong></td>
                            <td>{{this.avaliacao}}</td>
                        </tr>
                    {{/each}}
            </table>
        </section>


        <section>
            <h2>Pontos Positivos</h2>
            <p>{{pageAnalysis.pontosPositivos.textoInicial}}</p>
            <ul>
                {{#each pageAnalysis.pontosPositivos.listaPontosPositivos}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>


        <section>
            <h2>Pontos Negativos</h2>
            <p>{{pageAnalysis.pontosNegativos.textoInicial}}</p>
            <ul>
                {{#each pageAnalysis.pontosNegativos.listaPontosNegativos}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>


        <section>
            <h2>Sugestões de Melhorias</h2>
            <p>{{pageAnalysis.sugestoesMelhorias.textoInicial}}</p>
            <ul>
                {{#each pageAnalysis.sugestoesMelhorias.listaSugestoesMelhorias}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>


        <section>
            <h2>Conclusão</h2>
            <p>{{pageAnalysis.conclusao}}</p>
        </section>
        
        <section>
            <h2>Screenshot utilizado na Análise</h2>
            <img src={{screenshot}} />
        </section>
    </article>
</div>